* {
    background-color: #282828;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.name {
    
}

.ribbon {
    background-color: #1c1c1c;
}

#top-ribbon {
    height: 150px;
}

#bottom-ribbon {
    height: 65px;
}