* {
    background-color: #282828;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.name {
    
}

.ribbon {
    background-color: #1c1c1c;
    font-family: arial, sans-serif;
}

#top-ribbon {
    height: 150px;
}

#bottom-ribbon {
    height: 65px;
}

#top-nav, h1 {
    font-size: 40px;
}

#bottom-nav, h2 {
    font-size: 24px;
}