* {
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #282828;
}

h1 {
    font-size: 28px;
}
h2 {
    font-size: 12px;
}

.ribbon {
    background-color: #1c1c1c !important;
    font-family: arial, sans-serif;
}

#name {
}

#top-ribbon {
    height: 150px;
    padding-left: 30px;
}

#bottom-ribbon {
    height: 65px;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
}

#top-nav {
    font-size: 24px;
    justify-content: right;
}

#bottom-nav {
    font-size: 24px !important;
}