* {
    background-color: #282828;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

h1 {
    font-size: 28px;
}
h2 {
    font-size: 12px;
}

.name {
    background-color: #1c1c1c;
}

.ribbon {
    font-family: arial, sans-serif;
    z-index: 1;
}

#top-ribbon {
    height: 150px;
    background-color: #1c1c1c;
}

#bottom-ribbon {
    height: 65px;
    background-color: #1c1c1c;
}

#top-nav {
    font-size: 100px;
}

#bottom-nav {
    font-size: 24px !important;
}