* {
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: #282828;
}

h1 {
    font-size: 24px;
    font-weight: normal;
    padding-bottom: 5px;
}
h2 {
    font-size: 16px;
    font-weight: normal;
}

h3 {
    font-size: 24px;
    text-align: center;
    padding: 50px 0 50px 0;
    font-family: 'Courier New', Courier, monospace;
}

.ribbon {
    background-color: #1c1c1c !important;
    font-family: arial, sans-serif;
}

.project {
    display: flex;
    flex-direction: row;
}

.proj-img {
    height: 200px;
    width: auto;
}

.proj-para {
    font-size: 16px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#name {
    padding-left: 30px;
}

#top-ribbon {
    height: 100px;
    display: flex;
    align-items: center;
}

#bottom-ribbon {
    height: 35px;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
}

#top-nav {
    display: flex;
    margin-left: auto;
    font-size: 24px;
    padding-right: 30px;
    gap: 0.5rem;
}

#bottom-nav {
    font-size: 16px;
    gap: 0.5rem;
}

#homepage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 75px;
}

#homepage-para {
    font-size: 20px;
    text-align: center;
    width: 30%;
    font-family: 'Courier New', Courier, monospace;
}

#profile {
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

#projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}