* {
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: #282828;
}

h1 {
    font-size: 24px;
    font-weight: regular;
}
h2 {
    font-size: 16px;
    font-weight: regular;
}

.ribbon {
    background-color: #1c1c1c !important;
    font-family: arial, sans-serif;
}

#name {
    padding-left: 30px;
}

#top-ribbon {
    height: 150px;
    display: flex;
    align-items: center;
}

#bottom-ribbon {
    height: 65px;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
}

#top-nav {
    display: flex;
    margin-left: auto;
    font-size: 24px;
    padding-right: 30px;
    gap: 0.5rem;
}

#bottom-nav {
    font-size: 16px;
}