* {
    color: #FFFFFF;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: #282828;
    margin: auto;
}

h1 {
    font-size: 24px;
    font-weight: normal;
    padding-bottom: 5px;
}

h2 {
    font-size: 16px;
    font-weight: normal;
}

h3 {
    font-size: 24px;
    text-align: center;
    padding: 50px 0 50px 0;
    font-family: 'Courier New', Courier, monospace;
}

h4 {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

ul li {
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

ul {
    margin-bottom: 15px;
}

.ribbon {
    background-color: #1c1c1c !important;
    font-family: arial, sans-serif;
}

.project {
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    height: auto;
}

.proj-img {
    max-height: 150px;
    object-fit: cover;
    display: block;
    margin: auto;
    background-color: #1c1c1c;
}

.border-rad {
    border-radius: 15%;
}

.proj-para {
    font-size: 16px;
    margin: auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    width: 50%;
}

.skills-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.list {
    padding: 50px;
}

.exp-heading {
    font-size: 20px;
    width: 90%;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.exp-img {
    max-width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

#name {
    padding-left: 30px;
}

#top-ribbon {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
}

#bottom-ribbon {
    height: 35px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
}

#top-nav {
    display: flex;
    margin-left: auto;
    font-size: 24px;
    padding-right: 30px;
    gap: 0.5rem;
}

#bottom-nav {
    font-size: 16px;
    gap: 0.5rem;
}

#homepage {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 75px;
}

#homepage-para {
    font-size: 20px;
    text-align: center;
    width: 30%;
    font-family: 'Courier New', Courier, monospace;
}

#profile {
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

#projects {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#skills-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

#proj-body {
    max-height: 750px;
}

#skills-body {
    max-height: 750px;
}

#exp-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 150px 200px 0 200px;
}

@media (max-width: 600px) {

    .ribbon {
        width: 100%;
    }

    h1 {
        font-size: 14px;
    }

    h2 {
        font-size: 12px;
    }

    #name {
        padding-left: 15px;
    }

    #top-ribbon {
        height: 100px;
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
    }

    #top-nav {
        font-size: 14px;
        padding-right: 15px;
    }

    #bottom-ribbon {
        font-size: 12px !important;
    }

    #profile {
        width: 200px;
        height: 200px;
    }

    #homepage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    #homepage-para {
        font-size: 20px;
        text-align: center;
        width: 80%;
        font-family: 'Courier New', Courier, monospace;
    }

    #projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
    }

    .project {
        padding: 150px 50px 50px 50px;
    }

    .proj-para {
        font-size: 12px;
        margin: auto;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        width: 80%;
    }
    
    #exp-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        padding: 150px 50px 50px 50px;
    }

    #exp-heading {
        width: 90%;
    }

    #skills-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 65px 0 0 0;
    }

}